.users-list {
  border: solid 1px black;
  width: 40%;
  min-width: 100px;
  margin: 0 5px 0 0;
  padding: 5px;
}

.users-details {
  border: solid 1px black;
  flex: 1;
  width: 100px;
  height: 100px;
}

.users {
  display: flex;
}

.user:hover {
  cursor: pointer;
}

.displayNone {
  display: none;
}

.user-name {
  margin: 1px;
  padding: 3px;
  border: solid 1px black;
}

.download {
  text-align: center;
  color: red;
}

.blue {
  background-color: blue;
  color: white;
}
