.users-list {
  border: solid 1px black;
  width: 40%;
  min-width: 100px;
  margin: 0 5px 0 0;
  padding: 5px;
}

.user-details {
  /* border: solid 1px black; */
  flex: 1;
  min-width: 100px;
  min-height: 100px;
}

.users {
  display: flex;
}

.user:hover {
  cursor: pointer;
}

.displayNone {
  display: none;
}

.user-name {
  margin: 1px;
  padding: 3px;
  border: solid 1px black;
}

.download {
  text-align: center;
  color: red;
}

.blue {
  background-color: blue;
  color: white;
}

.img-fit {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.userImgName, .userCity, .userCompany, .userPosition {
  border: solid 1px grey;
}

.infoName, .infoCity, .infoCompany, .infoPosition {
  margin: 0px;
  padding: 5px;
  border: solid 1px grey;
}

.infoName {
  font-size: 110%;
}


/* font-size: 180%; */