#formWC {
  display: flex;
  width: 350px;
}

#wcTitle {
  max-width: 150px;
}

#wcTimeZone {
  max-width: 200px;
}

input[type="text"] {
  width: 100px;
}

#allWc {
  min-height: 10px;
  background-color: bisque;
  margin-top: 15px;
  padding: 10px 10px;
}

#btn-add-WC {
  cursor: pointer;
}

.divClock {
  display: flex;
  padding: 5px 10px;
  margin: 5px 0;
  min-height: 5px;
  border: 1px solid black;
  background-color: rgb(194, 174, 149);
}

.clock {
  margin: 0 10px;
}

.clockTitle, .clock { 
  border: 1px solid black;
  flex: 1 1 0%; 
  background-color: rgb(250, 250, 250);
  padding: 0 10px;
}   /* flex-grow, flex-shrink, flex-basis */
