#crudTitle {
  display: flex;
}

#updateBtn {
  margin-left: 20px;
  cursor: pointer;
}

#newNote {
  cursor: pointer;
}

#divAllNotes {
  display: flex;
  flex-wrap: wrap;

  min-height: 10px;
  background-color: bisque;
  margin-top: 15px;
  margin-bottom: 10px;
}

.note {
  position: relative;
  
  border: 1px solid black;
  margin: 5px;
  padding: 20px 5px 5px 5px;

  width: 200px;
  min-width: 150px;
  max-height: 100px;

  overflow: auto;
  background-color: white;
}

.delNote {
  position: absolute;
  top: 0px;
  right: 0px;

  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 1px;
  padding: 1px;
  background-image: url('./X.png');
  cursor: pointer;
}
