#root {
  max-width: 1280px;
  min-width: 500px;
  margin: 0 auto;
  padding: 2px auto;
}

h3 {
  color: rgb(194, 107, 240);
}

.task1, .task2 {
  /* width: 450px; */
  width: 100%;
  min-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.titleTask {
  margin: 0;
}

.displayNone {
  display: none;
}
